* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Courier New', Courier, monospace;
    font-size: 1em;
    background-color: beige; 
}

header {
    text-align: center;
    padding: 10px;
}

header h1 {
    font-size: 1.6em;
    margin-bottom: 20px;
}

menu {
    font-size: 0.880em;
    line-height: 2.4em;  
    display: inline-block;
    background-color: rgb(223, 223, 203); 
    width: 90%;
    overflow: auto;
    white-space: nowrap;
}

menu li {
    display: inline;
}

menu li a {
    padding: 10px;
    text-decoration: none;
    color: black;
}

menu li a:hover {
    background-color: rgb(140, 146, 146);
    color: white;
    font-weight: bold;
    transition: 250ms;
}

main {
    max-width: 78%;
    margin: auto;
    height: 100vh;
}

p {
    font-size: 0.880em;
    margin-top: 20px;
    text-indent: 0;
}

img {
    padding-top: 20px;
    display: block;
    margin: auto;
    width: 200px;
}